*{
  padding: 0%;
  margin: 0%;
}
html{
  scroll-behavior: smooth;
  height: 100vh;
}
.container{
  width: 350px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
}
.mobilePhone{
  background: black;
  height: 100%;
  border-radius: 50px;
}
.contentInside{
  padding: 15px;
  height: 100%;
}
.topNotch{
  background: blue;
  height: 35px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.marginInside{
  height: 100%;
}
.background{
  background: white;
  height: 635px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.blueBack{
  height: 40px;
  width: 0%;
  border-right: 320px solid blue;
  border-bottom: 200px solid transparent;
}
.heading{
  height: 100%;
  width: 320px;
  text-align: center;
}
.cardName{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
}
.card{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
}
.belowContent{
  margin-top: 70px;
}
.icons{
  margin: 10px;
}
.name{
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}
.description{
  color: gray;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.row{
  display: flex;
  margin-top: 25px;
}
.rightContent{
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}
/* round buttons styling */
.switch {
  position: relative;
  width: 55px;
  height: 28px;
  margin-right: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}